{% extends "base.html" %} {% block title %} Upload Page {% endblock%} {% block
content %} {% if not session.permanent %}
<body>
  <h1>Upload SOURCE.CSV File</h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="csv_file" />
    <label for="dropdown">Select Type File:</label>
    <select id="dropdown" name="role" required>
      <option disabled selected value>Select Type File</option>
      <option value="Area">Area</option>
      <option value="Fuel">Fuel</option>
      <option value="Length">Length</option>
      <option value="MassWeight">MassWeight</option>
      <option value="Volume">Volume</option>
      <option value="Lumber">Lumber</option>
    </select>
    <br />
    <input type="submit" value="Submit" />
  </form>
</body>
{% else %}
<h1>File Already Uploaded</h1>
<a class="btn btn-primary" href="data">Show Data</a>
{% endif %} {% endblock %}
